* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}
.dark-background {
	background-color: #232323;
}
.logo {
	margin-top: 0vh;
	width: 40vw;
	height: auto;
	z-index: -1;
}
.small-logo {
	width: 12vw;
	height: auto;
	border-radius: 40%;
}
.negative-margin {
	margin-top: -1em;
}
.app-title {
	font-weight: 600;
	font-size: 50px;
	margin-top: 33vh;
	color: #ffc33d;
}
.orange {
	color: #ffc33d;
}
hr{
	width: 18vw;
	border: 1.8px solid #ffc33d;
	margin-left: 1vw;
	margin-top: 0;
	display: inline;
}
.pulse {
    transform: scale(0.5);
    transition-property: transform;
    transition-duration: 0.7s;
}
.antiPulse {
    transform: scale(1.0);
    transition-property: transform;
    transition-duration: 0.7s;
}
.small-app-name {
	color: #ffc33d;
	font-size: 30px;
	display: inline;
	margin-left: 4vw;
}
.input-search {
	border-radius: 9px;
	border: none;
	outline: none;
	width: 64vw;
	height: 5.5vh;
	background-color: #111111;
	color: #fff;
	padding: 0 5px;
}
.input-search:focus {
	background-color: #fff;
	color: #333;
}
nav {
	padding: 2vh 0;
}
.searcher {
	background-color: #111111;
	border-radius: 9px;
	padding: 1px 2px;
	font-size: 18px;
	color: #333;
	float: right;
	margin-top: 0.8vh;
}
.search-circle {
	display: inline-block;
	background-color: #111111;
	padding: 0.5em;
	border-radius: 50%;
	float: right;
}
.inline-block {
	display: inline-block;
}
.icon-search {
	color: #6d6a64;
	background-color: #000;
	border: none;
	outline: none;
	padding: 2px;
	font-size: 18px;
}
#map {
	margin-top: 3vh;
  width: 100%;
	height: 40vh;
}
.inputChange {
	background-color: #fff;
}
.background-principal-view {
	background-color: #111111;
}
.restaurant-name {
	font-weight: 600;
	font-size: 22px;
	border-bottom: 1px solid #fff;
	text-transform: capitalize;
}
.background-image {
	background-position: center;
	background-size: cover;
	height: 9em;
}
.white {
	color: #fff;
}
.dark-filter {
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	padding: 2vh 0 2vh 2vw;
}
.outline {
	border: 2px solid #ffc33d;
	border-radius: 5px;
}
.icon-sad {
	color: red;
	margin-left: 0.4em;
}
.icon-smile {
	color: #ffc33d;
	margin-left: 0.4em;
}
.icon-wink {
	color: lawngreen;
	margin-left: 0.4em;
}
.icons {
	font-size: 12px;
}
.slogan {
	line-height: 1.1em;
	font-size: 12px;
}
.icon-paperplane {
	color: #fff;
	opacity: 0.8;
	margin-left: 0.8em;
}
.number {
	color: #fff;
	opacity: 0.8;
	display: inline-block;
}
.padding-left {
	padding-left: 0em;
}
.padding-right {
	padding-right: 0em;
}
.mg-col {
	margin-left: 1.3em;
	margin-bottom: 1em;
}
.mg-choose-title {
	margin: 0;
}
.establishment_direction_map {
	height: 7em;
	width: auto;
	margin: 1em 0;
	outline: 1px solid red;
}
h2 {
	outline: 1px solid red;
	display: inline;
}
#happy-face {
	float: right;
	width:2.5em;
	height: auto;
	margin: 0;
	outline: 1px solid red;
}
.info_body {
	margin-top: 1.5em;
}
.web_info, .schedule_info {
	display: inline-block;
	margin-left: 1em;
}
.icon-internet {
	display: block;
}
.price_info {
	display: inline-block;
	float: right;
}
.btn_modal {
	padding-top: 0.5em;
	border-right: 1px solid #e4e6e8;
	border-top: 1px solid #e4e6e8;
}
.modal-footer {
	border: none;
}
.plane, .menu {
	padding-bottom: 1em;
}
.btn_footer_container {
	padding-top: 0;
	padding-bottom: 0;
}
.number_info {
	font-size: 11px;
}
.call {
	margin-bottom: 0;
}
/* Color de fuente-Placeholder*/
.form-control::-webkit-input-placeholder { color: #7C7C7C; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #7C7C7C; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #7C7C7C; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #7C7C7C; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #7C7C7C; }  /* Microsoft Edge */
