<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
	  <link rel="icon" type="image/png" href="../assets/images/call.png">
	  <link rel="stylesheet" href="../css/main.css">
	  <title></title>
	</head>
	<body>
		<div id="calling">
    	<p>Calling ...</p>
    	<h1 class="name_calling">Saqra</h1>
    	<h4 class="number_calling">500 300 192</h4>    
    </div>
    <div class="background_calling">
    </div>  
    <div class="text-center">
    	<button type="button" class="btn btn-warning"><a class="white" href="../index.html">Cancel</a></button>
    </div>
    <audio id="audio" loop="loop">
      <source src="../assets/audio/iPhone%20Ringtone%20Trap%20Remix.mp3" type="audio/mp3">
      <source src="../assets/audio/iPhone%20Ringtone%20Trap%20Remix.ogg" type="audio/ogg">
    </audio>
    <script src="../vendors/jQuery/jquery.js"></script>
    <script type="text/javascript" src="../js/calling.js">
		</script>
	</body>
</html>